<form class="login-form">
  <div class="login">
    <h3>Login Form </h3>
    </div>
    <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
    </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
    <a href="../partials/signup">signup instead</button>
  </div>
</form>

<script src="../../public/javascript/login.js"></script>