<form class="signup-form">
  <div class="signup">
    <h3>Sign-up
      Form
    </p>
    </div>
    <div>  
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
    <button type="submit">login instead</button>
  </div>
</form>

{{ login }}

<script src="/javascript/login.js"></script>